
<div class="wrapper-index">
  <div class="nav"></div>
<div class="one-index">
</div>
<div class="two-index">
<h2> Where do you want to eat? </h2>
</div>
<div class="three-index">
<%= form_with model: current_user do |f| %>
<%= f.label :City_or_Zip %> &nbsp; 
<%= f.text_field :location %><br>
</div>
<div class="four-index">
<%= f.submit "Search" %>
<% end %>
</div>

<div class="bottom-index"></div>

</div>
