<h1>Restaurants#index</h1>

<h1>Welcome, User <%= current_user.id %>!  </h1>

<h2> Where do you want to eat? </h1>



<button> <%= link_to 'Get some food', new_restaurant_path %> </button>


<%= form_with model: @restaurant do |f| %>
<%= f.submit %>
<% end %>
