/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto-Condensed');
@import url('https://fonts.googleapis.com/css?family=Carter+One');

* {
  font-family: 'Roboto-Condensed', sans-serif;
}

body {
  margin: 0;
}

.notice, .alert {
font-size: 15px;
}

.logo-name {
  font-size: 10px;
}

/* NAV BAR */

nav {
background-color: #213D60;
height: 60px;
color: white;
width: 100%;
top: 0;
position: fixed;
z-index: 9999;
}

nav a {
background-color: #213D60;
height: 20px;
color: white;
text-decoration: none;
margin: 5px;
padding: 15px;
border-radius: 5px;
font-size: 20px;
text-align: center;
display: inline-block;
}

nav a:hover {
background-color: white;
color: #213D60;
}

/* SIGN UP OR LOG IN PAGES */

.sign-up-page, .log-in-page {
  background-image: url("background-large.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sign-up, .log-in {
  background-color: #213D60;
  width: 400px;
  height: 520px;
  border: 1.5px solid white;
  border-radius: 5%;
  margin: 100px auto;
  padding: 20px;
  position: relative;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px black;
}

.log-in a {
  color: white;
  padding: 15px;
}

.log-in h2, .sign-up h2{
  text-align: center;
  font-size: 43px;
  font-family: 'Carter One', cursive;
}

.sign-up input, .log-in input {
  width: 400px;
  height: 35px;
  background-color: white;
  color: black;
  margin-top: 15px;
  font-size: 20px;
}

#nav-log-out {
  float: right;
}

/* GRID FOR INDEX PAGE */

.wrapper-index {
  display: grid;
  grid-template-rows: 50px 120px 150px 200px 50px 165px;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url("background-large.jpeg");

}

.one-index {
  grid-row: 3/6;
  grid-column: 2;
  margin: 0;
  background-color: #213D60;
  border: 1px solid white;
  border-radius: 20px;
}

.one-index h1{
  text-align: center;
  font-size: 40px;
  font-family: 'Carter One', cursive;

}

.two-index {
  grid-row: 3;
  grid-column: 2;
  color: white;
}

.two-index h2 {
  text-align: center;
  font-size: 60px;
  font-family: 'Carter One', cursive;
}

.three-index {
  grid-row: 4;
  grid-column: 2;
  margin: 0 auto;
}

.three-index input, .three-index label {
  height: 75px;
  font-size: 50px;
  width: 400px;
  color: black;
  margin: 50px auto;
}

.three-index input {
  height: 75px;
  font-size: 50px;
  width: 400px;
  margin: 50px auto;
}

.three-index label {
  height: 75px;
  font-size: 50px;
  width: 400px;
  margin: 50px auto;
  color: white;
}

.three-index input {
  height: 75px;
  font-size: 50px;
  width: 400px;
  margin: 50px auto;
  margin-left: 10px;
  padding-left: 15px;
}

.four-index {
  grid-row: 5;
  grid-column: 2;
  margin: 0 auto;
}

.four-index input {
  height: 100px;
  width: 60px;
  padding: 30px;
}

/* GRID FOR NEW RESTAURANT PAGE */


.wrapper-new {
  display: grid;
  grid-template-rows: 50px 80px 300px 50px 50px 50px 165px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 25px;
  /*background-image: url("background-large.jpeg");*/
}

.one-new {
  grid-row: 2;
  grid-column: 2;
  margin: 0 auto;
  font-size: 25px;
}

.two-new {
  grid-row: 3;
  grid-column: 2;
  margin: 0 auto;
}

.three-new {
  grid-row: 4;
  grid-column: 2;
  margin: 0 auto;
}

.three-new input {
  width: 1000px;
  height: 50px;
  font-size: 35px;
  margin: 5px;
  border: none;
  text-align: center;
}

.four-new {
  grid-row: 5;
  grid-column: 2;
  margin: 0 auto;
}

.four-new input {
  width: 50px;
  font-size: 20px;
  margin: 0 auto;
  border: none;
}

.four-new label {
  font-size: 20px;
  margin: 10px auto;
}

.five-new {
  grid-row: 6;
  grid-column: 2;
  margin: 0 auto
}

.save-rest-button {
  width: 400px;
  height: auto;
}
